
.jc-npp-tile-episode-wrapper {
  height: 200px;
  width: 340px; 
  border-radius: 12px;
  display: grid;
  grid-template: 1fr / 1fr;
  /* background-color: wheat; */
}

.jc-npp-tile-episode-wrapper > .background-img {
  border-radius: 12px;
  height: 200px;
  width: 340px; 
  object-fit: cover;
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  z-index: 1;
}

.jc-npp-tile-episode-wrapper > .main-container {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  z-index: 3;
  /* position: absolute; */
  background-color: rgba(0, 0, 0, 0.2);
  /* background-color: bisque; */
  border-radius: 12px;
  height: 100%;
  width: 100%;  
  display: flex;  
  justify-content: space-between;
  flex-direction: column;
}

.jc-npp-tile-episode-wrapper > .main-container > .tags {
  width: 100px;
  height: 30px;
  padding: 10px;
}

.jc-npp-tile-episode-wrapper > .main-container > .tags > .tag {
  width: 100px;
  height: 30px;
  border-radius: 12px;
  font-size: 10px;  
  font-weight: 800;
  backdrop-filter: blur(8px);
  background-color: rgba(1, 1, 1, 0.2);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.jc-npp-tile-episode-wrapper > .main-container > .jc-card-body {
  width: 100%;
  height: 80px;
  padding: 10px;
  border-radius: 12px;
  backdrop-filter: blur(8px);
  background-color: rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-columns: 40px 1fr 80px;
  column-gap: 10px;  
}

.jc-npp-tile-episode-wrapper > .main-container > .jc-card-body > .controls {
  width: 40px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;   
  /* background-color: wheat; */
}

.jc-npp-tile-episode-wrapper > .main-container > .jc-card-body > .controls > .jc-player-pp-button-container {
  width: 36px;
  height: 36px;  
  border-radius: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: white;  
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.2);  
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;  
}

.jc-npp-tile-episode-wrapper > .main-container > .jc-card-body > .controls > .jc-player-pp-button-container > .pp-button > .button {
  color:white;
  fill:white;
  width: 18px;
  height: 18px;
}

.jc-npp-tile-episode-wrapper > .main-container > .jc-card-body > .title {

  max-width: 280px;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.4;
  color: white;
  display: block;
  display: -webkit-box;
  max-width: 100%;
  height: 50px;
  margin: 0 auto;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;  
}

.jc-npp-tile-episode-wrapper > .main-container > .jc-card-body > .progress-duration-container {
  width: 100%;
  height: 100%;  
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: yellow; */
}

.jc-npp-tile-episode-wrapper > .main-container > .jc-card-body > .progress-duration-container > .label {
  width: 70px;
  height: 26px;
  color: rgba(0, 0, 0, 0.8);
  border-radius: 20px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;  
  background-color: white;
}