.jc-npp-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: wheat; */
  height: 40px;
  /* align-content: center; */
}

.jc-npp-container-main {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.jc-npp-container-main * {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;  
}

.jc-podcast-people-wrapper * {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;  
}

.jc-npp-nav-buttons {
  display: flex;
  gap: 20px;
}

.jc-npp-card {
  display: flex;
  flex-direction: column;
  gap: 10px;  
}

.jc-npp-thumbnail {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.jc-npp-tile {
  display: flex;
  gap: 10px;
  flex-wrap: nowrap;
  overflow-x: scroll;
  width: 100%;
  -webkit-overflow-scrolling: touch;  
}

.jc-npp-mix {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
