body {
  margin: 0;
}

.bh-main-wrapper {
  display: grid;
  height: 100vh;
  /* background-color: blanchedalmond; */
  grid-template-rows: 1fr 80px;
  grid-template-areas: 
  "main-display"
  "input-box";
}

.bh-main-display-container {
  display: grid;
  grid-template-rows: 260px 1fr;  
  grid-template-areas: 
  "player"
  "comments";  
  grid-area: 'main-display';
}

.bh-player-container {
  /* background-color: cadetblue; */
  display: grid;
  grid-template-rows: 120px 60px 80px;
  grid-template-areas: 
  "player-main-controls"
  "player-main-metas"
  "player-main-progress-bar";
  grid-area: player;
}

.bh-player-container > .bh-player-metas {
  /* background-color: darkmagenta; */
  grid-area: player-main-metas;
  text-align: center;
  font-size: 20px;
  line-height: 22px;
  font-weight: 600;  
}

.bh-player-container > .bh-player-metas > .bh-title { 
  font-size: 1em;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;  
  white-space: nowrap;  
}

.bh-player-container > .bh-player-metas > .bh-subtitle{
  font-size: 0.7em;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  opacity: 0.6;
}

.bh-player-container > .bh-player-controllers {
  display: grid;
  /* background-color: darkkhaki; */
  grid-area: player-main-controls;
  grid-template-areas: 
  "backward main-artwork forward";
  justify-content: center;
  align-items: center;
}

.bh-player-container > .bh-player-controllers > .bh-forward-backward-button {
  /* background-color: darkgray; */
  width: 20px;
  height: 20px;
  font-size: 20px;  
  display: grid;
  cursor: pointer;
  justify-content: center;
  align-content: center;
  align-items: center;
  grid-template-areas: "forward-backward-icon";
}

.bh-player-container > .bh-player-controllers > .bh-forward-backward-button > .bh-button-icon{
  /* grid-area: 1/1;  */
  grid-area: forward-backward-icon;
}

.bh-player-container > .bh-player-controllers > .bh-forward-backward-button > .bh-button-label{
  grid-area: forward-backward-icon;
  text-align: center;
  font-size: 0.5em;
}

.bh-player-container > .bh-player-controllers > .bh-forward-backward-button#backward {
  grid-area: backward;
  margin-right: 20px;
}

.bh-player-container > .bh-player-controllers > .bh-forward-backward-button#forward {
  grid-area: forward;
  margin-left: 20px;
}

.bh-main-artwork {
  background-color: cornsilk;
  width: 100px;
  height: 100px;  
  grid-area: main-artwork;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
} 

.bh-main-artwork > img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  grid-row: 1 / 3;
  grid-column: 1 / 3;
}

 .bh-main-artwork > .bh-main-play-pause-button {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  font-size: 40px;
  background-color: cornflowerblue;
  grid-row: 2 / 3;
  grid-column: 2 / 3;    
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0.8;
}

/* Progress bar section */

.bh-player-progress-container {
  height: 80px;
  grid-area: player-main-progress-bar;
  padding: 10px;
  /* background-color: darkorange; */
}

/* .bh-player-progress-container > .bh-player-progress-content {
  opacity: 0.6;
  background-color: black;
  border-radius: 6px;
  height: 60px;  
} */

.bh-slide-container {
  width: 100%;  
  display: grid;
  grid-template: 1fr / 1fr;
}

.bh-slide-container > .bh-slider {
  -webkit-appearance: none;
  width: 100%;
  height: 12px;
  outline: none;
  opacity: 0.4;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 8px;
  grid-column: 1 / 1;
  grid-row: 1 / 1;  
}

/* .bh-slide-container > .bh-slider:hover {
  opacity: 1;
} */

.bh-slide-container > .bh-slider::-webkit-slider-thumb {
  -webkit-appearance: none;  
  appearance: none;
  width: 12px;
  height: 12px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
}

.bh-slide-container > .bh-slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
}

.bn-playing-time-label {
  display: flex;
  justify-content: space-between;
  font-size: 0.8em;
}

.bh-slide-container > .bh-slider-bookmark {
  -webkit-appearance: none;
  width: 100%;
  height: 12px;
  outline: none;
  background: none;
  border-radius: 8px;
  grid-column: 1 / 1;
  grid-row: 1 / 1;  
}

.bh-slide-container > .bh-slider-bookmark::-webkit-slider-thumb {
  -webkit-appearance: none;  
  appearance: none;
  width: 4px;
  height: 12px;
  background: yellow;
  /* border-radius: 50%; */
  /* cursor: pointer; */
}

.bh-slide-container > .bh-slider-bookmark::-moz-range-thumb {
  width: 4px;
  height: 12px;
  background: yellow;
  /* cursor: pointer; */
}


/* end progress bar section */

/* Comments section */

.bh-comments {
  /* background-color: white; */
  grid-area: comments;
}

/* Comments section */

.bh-input-text-box {
  display: grid;
  padding: 10px;
  grid-template-columns: 1fr 40px;
  align-items: center;
  grid-area: input-box;
  /* padding: 10px; */
  /* height: 80px; */
  /* background-color: blanchedalmond; */
}

.bh-input-placeholder {
  border-radius: 15px;
  height: 40px;
  border-style: solid;
  border-width: 1px;  
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.bn-input-send-button {
  display: flex;
  justify-content: center;
}

.bn-time-input-container {
  width: 120px;
  height: 60px;
}
